%header
  %nav.menu
  .title-general
    %span.book
    %span.logo-nr
    %p playbook
  .presentation
    %p
      What to expect?
      %br/
      Will we work well together?
      %br/
      Are we the right team for you?
.grind
  %sectrion.content
    .chapter.nad
    .chapter.product-owners
    .chapter.equity
    .chapter.right-into-dev
    .chapter.calls
    .chapter.it
    .chapter.equity2
    .chapter.last
#footer
  %p
    %a Neon Roots.
    Lastest update: May 2, 2014
  .buttons-icons
